body,
html {
  font-family: "Raleway", sans-serif;

  font-size: 1rem;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
main {
  margin: 3rem;
}
/* header */

/* navbar */
header {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}
nav {
  width: 40%;
}
.navbar {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.navbar-element {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  list-style-type: none;
  width: 33%;
}
.navbar-element-hebergement {
  border-top: 2px solid #0065fc;
}
.navbar-element:hover {
  border-top: 2px solid #0065fc;
}
.navbar-link {
  text-decoration: none;
}
.navbar-element:hover {
  color: #0065fc;
}
.link-activites:visited {
  color: black;
}
.link-activites:hover {
  color: #0065fc;
}
.link-sub,
.link-hebergements {
  color: #0065fc;
}
.link-sub {
  font-weight: bold;
}

/* searchbar */

.searchbar {
  display: flex;
  margin: 2rem 0;
}
.fa-map-marker-alt {
  border: 1px solid#f2f2f2;
  background: #f2f2f2;
  border-radius: 20px 0 0 20px;
  padding: 1rem;
}
.searchbar-input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #f2f2f2;
}
.searchbar-button {
  padding: 1rem;
  background: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0 20px 20px 0;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* info */

.info {
  display: flex;
  align-items: center;
}

.info-logo {
  color: #0065fc;
  font-size: 0.8rem;
  border: 2px solid #f2f2f2;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
}
.info-text {
  margin-left: 0.5rem;
}

/* Section Search/filters */
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.filter-link {
  display: flex;
  margin: 0 1rem;
  border: 3px solid #f2f2f2;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}
.circle-icon {
  display: flex;
  min-width: 3rem;

  min-height: 3rem;
  background: #deebff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: -3px;
}
.icone {
  color: #0065fc;
}

/* .filter-container {
  border: 2px solid grey;
  width: auto;
  border-radius: 4rem;
  display: flex;
}
.filter-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #0065fc;
  padding: 0.7rem;
  position: relative;
}
.filter-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .icone-one {
  padding: 1rem 0.8rem;
}
.icone-two {
  padding: 1rem 1.1rem;
}
.icone-three {
  padding: 1rem;
}
.icone-four {
  padding: 1rem 0.9rem;
} */

.filter-text {
  font-weight: bold;
  padding: 0 1rem;
}
.filter-link:hover {
  background: #0065fc;
  color: white;
  cursor: pointer;
}
/* Les plus populaires */
.accommodation-main-container {
  display: flex;
  width: 100%;
}
.popular-accommodation {
  background: #f2f2f2;
  margin: 0 1rem;
  border-radius: 20px;
  padding: 1rem;
  width: 30%;
}
.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-arrow {
  font-size: 1.5rem;
}
.popular-description {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}
.popular-description-text {
  display: flex;
  flex-wrap: wrap;
}
.accommodation-popular {
  display: flex;

  margin: 1rem;
  background: white;
  text-decoration: none;
  border: 5px solid white;
  border-radius: 20px;
  /* width: 21rem; à changer */
  height: 8.5rem;
  overflow: hidden;
  color: black;
}
.popular-img {
  min-width: 38%;
  height: 100%;
  object-fit: cover;
}
.bold-text {
  font-weight: bold;
}
/* hébergements à Marseille */

.section-accommodation {
  background: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;

  padding: 2rem;
}

.accomodation-show-more,
.accommodation-title {
  text-decoration: none;
  margin: 0;
}
.container-accommodation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.accommodation {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  text-decoration: none;
  border: 5px solid white;
  border-radius: 20px;
  width: 28%;
  height: 12rem;
  overflow: hidden;
  color: black;
}
.accommodation-img {
  min-width: 100%;
  height: 60%;
  object-fit: cover;
}
.accommodation-name {
  font-size: 1rem;
  margin: 0;
}
.accommodation-price {
  font-size: 0.9rem;
}
.accommodation-stars,
.accommodation-price,
.accommodation-name {
  padding-left: 0.5rem;
}
.accommodation-stars i {
  color: #f2f2f2;
}
.accommodation-stars i.active {
  color: #0065fc;
}

/* .star-blue {
  color: #0065fc;
}
.star-grey {
  color: #f2f2f2;
} */

.accomodation-show-more {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/* Activités à Marseille */

.container-activities {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 9rem 2rem 2rem 2rem 2rem 9rem;
  grid-gap: 0 3rem;
}

.activity-one {
  grid-row: 1 / 7;
  grid-column: 1 / 2;
}
.activity-two {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}
.activity-three {
  grid-column: 2 / 3;
  grid-row: 5 / 7;
}
.activity-four {
  grid-column: 3 / 4;
  grid-row: 1 / 7;
}
.activity-five {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}
.activity-six {
  grid-column: 4 / 5;
  grid-row: 4/7;
}
.activity {
  display: flex;
  border-radius: 20px;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: 1rem 1rem 1rem 2rem #f2f2f2;
  text-decoration: none;
}

/* .container-activity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22%;
  height: 27rem;
}
.activity {
  display: flex;
  border-radius: 20px;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: 1rem 1rem 1rem 2rem #f2f2f2;
  text-decoration: none;
}
.activity-big {
  width: 100%;
  height: 100%;
}

.activity-medium {
  width: 100%;
  height: 53%;
}

.activity-small {
  width: 100%;
  height: 37%;
} */

.activity-img {
  width: 100%;

  object-fit: cover;
}
.img-big {
  height: 86%;
}
.img-medium {
  height: 74%;
}
.img-small {
  height: 67%;
}

.activity-text {
  padding: 0 1.5rem;
  font-weight: bold;
  color: black;
}

/* Footer */

footer {
  display: flex;
  justify-content: left;
  background: #f2f2f2;
  width: 100%;
  margin-top: 4rem;
}

.footer {
  padding: 2rem;
  display: flex;
  align-content: space-between;
  flex-flow: column;
  margin: 2rem;
  width: 70%;
}
.linkfooter {
  padding: 1rem 0;
  text-decoration: none;
  color: black;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .accommodation-main-container {
    flex-direction: column;

    align-items: center;
  }
  .section-accommodation {
    width: 100%;
  }
  .popular-accommodation {
    width: 100%;
  }

  .container-activities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 12rem 12rem 12rem;
    grid-gap: 3rem 3rem;
  }
  .activity-one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .activity-two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .activity-three {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .activity-four {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .activity-five {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .activity-six {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .img-big,
  .img-medium,
  .img-small {
    height: 74%;
  }
}

@media screen and (max-width: 480px) {
  /* MQ footer */
  main {
    margin: 1.5rem;
  }
  .container-activities {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 10rem 10rem 10rem 10rem 10rem;
    grid-gap: 1.5rem;
  }
  .activity-one,
  .activity-two,
  .activity-three,
  .activity-four,
  .activity-five,
  .activity-six {
    grid-column: 1 / 2;
  }
  .activity-one {
    grid-row: 1/2;
  }
  .activity-two {
    grid-row: 2 / 3;
  }
  .activity-three {
    grid-row: 3 / 4;
  }
  .activity-four {
    grid-row: 4 / 5;
  }
  .activity-five {
    grid-row: 5 / 6;
  }
  .activity-six {
    grid-row: 6 / 7;
  }
  .img-big,
  .img-medium,
  .img-small {
    height: 67%;
  }

  footer {
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .footer {
    margin: 1rem;
    padding: 0 0 0 1rem;
  }
  .linkfooter {
    padding: 0.5rem 0;
  }
}
