body,
html {
  font-family: "Raleway", sans-serif;

  font-size: 1rem;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

/* header */

/* navbar */
header {
  display: flex;
  justify-content: space-between;
}
nav {
  width: 40%;
}
.navbar {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.navbar-element {
  padding: 2rem 1rem;
  list-style-type: none;
}
.navbar-element-hebergement {
  border-top: 2px solid #0065fc;
}
.navbar-element:hover {
  border-top: 2px solid #0065fc;
}
.navbar-link {
  text-decoration: none;
}
.navbar-link:hover {
  color: #0065fc;
}
.link-activites:visited {
  color: black;
}
.link-activites:hover {
  color: #0065fc;
}
.link-sub,
.link-hebergements {
  color: #0065fc;
}
.link-sub {
  font-weight: bold;
}

/* searchbar */

.searchbar {
  display: flex;
  margin: 2rem 0;
}
.fa-map-marker-alt {
  border: 1px solid#f2f2f2;
  background: #f2f2f2;
  border-radius: 20px 0 0 20px;
  padding: 1rem;
}
.searchbar-input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #f2f2f2;
}
.searchbar-button {
  padding: 1rem;
  background: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0 20px 20px 0;
  color: white;
  font-size: 1rem;
}

/* info */

.info {
  display: flex;
  align-items: center;
}

.info-logo {
  color: #0065fc;
  font-size: 0.8rem;
  border: 2px solid #f2f2f2;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
}
.info-text {
  margin-left: 0.5rem;
}

/* Section Search/filters */
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.filter-link {
  display: flex;
  margin: 0 1rem;
  border: 3px solid #f2f2f2;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
.icone {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #deebff;
  border-radius: 100px;
  color: #0065fc;
  margin: -2px;
}
.icone-one {
  padding: 1rem 0.8rem;
}
.icone-two {
  padding: 1rem 1.1rem;
}
.icone-three {
  padding: 1rem;
}
.icone-four {
  padding: 1rem 0.9rem;
}

.filter-text {
  font-weight: bold;
  padding: 0 1rem;
}
/* Les plus populaires */
.accommodation-main-container {
  display: flex;
}
.popular-accommodation {
  background: #f2f2f2;
  margin: 1rem;
  border-radius: 20px;
  padding: 1rem;
}
.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-arrow {
  font-size: 1.5rem;
}
.accommodation-popular {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background: white;
  text-decoration: none;
  border: 5px solid white;
  border-radius: 20px;
  width: 21rem;
  height: 8.5rem;
  overflow: hidden;
  color: black;
}
.popular-img {
  width: 38%;
  height: 100%;
  object-fit: cover;
}
/* hébergements à Marseille */

.section-accommodation {
  background: #f2f2f2;
  margin: 1rem;
  border-radius: 20px;
  padding: 1rem;
}
.container-accommodation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.accommodation {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  background: white;
  text-decoration: none;
  border: 5px solid white;
  border-radius: 20px;
  width: 15rem;
  height: 12rem;
  overflow: hidden;
  color: black;
}
.accommodation-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.accommodation-name {
  font-weight: bold;
}
.accommodation-price {
  font-size: 0.9rem;
}
.accommodation-stars,
.accommodation-price,
.accommodation-name {
  padding-left: 0.5rem;
}
.star-blue {
  color: #0065fc;
}
.star-grey {
  color: #f2f2f2;
}

.accomodation-show-more,
.accommodation-title {
  margin: 0 0 0 2rem;
  text-decoration: none;
}
.accomodation-show-more {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/* Activités à Marseille */

.container-activities {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container-activity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activity {
  display: flex;
  border-radius: 20px;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: 0 0 1rem grey;
  text-decoration: none;
}
.activity-big {
  width: 19rem;
  height: 27rem;
}

.activity-medium {
  width: 19rem;
  height: 15rem;
}

.activity-small {
  width: 19rem;
  height: 10rem;
}

.activity-img {
  width: 100%;

  object-fit: cover;
}
.img-big {
  height: 87%;
}
.img-medium {
  height: 80%;
}
.img-small {
  height: 67%;
}

.activity-text {
  padding-left: 1.5rem;
  font-weight: bold;
  color: black;
}

/* Footer */

footer {
  display: flex;
  justify-content: left;
  background: #f2f2f2;
  width: 100%;
}

.footer {
  padding: 2rem;
  display: flex;
  align-content: space-between;
  flex-flow: column;
  margin: 2rem;
}
.linkfooter {
  padding: 1rem 0;
  text-decoration: none;
  color: black;
}
